{% extends "layout.html" %}
{% block title %}Register{% endblock %}

{% block header %}Register{% endblock %}

{% block content %}
<div class="register-content">
    <form method="post">
	      <div class="form-row">

	          <!-- Section  Name -->

	          <div class="form-group col-md-12">
		            <label for="name">Name</label>
		            <input name="name" type="text" class="form-control" placeholder="Choose a name to represent your household" />
	          </div>

	          <!-- Section Account Details-->
	          <div class="form-group col-md-6">
		            <label for="username" >Username</label>
		            <input name="username" type="text" class="form-control" placeholder="Enter a username..." />
	          </div>
            <div class="form-group col-md-6">
		            <label for="password" >Password</label>
		            <input name="password" type="password" class="form-control" placeholder="Enter a password..." />
	          </div>

            <div class="form-group col-md-12">
		            <label for="email" >Email</label>
		            <input name="email" type="text" class="form-control" placeholder="example@email.com" />
	          </div>

            <hr class="register-form-hr col-md-12" />
	          <!-- Section  Address-->
	          <div class="form-group col-md-10">
		            <label for="street_name">Street</label>
		            <input name="street_name" type="text" class="form-control" placeholder="Enter your street name..." />
	          </div>

	          <div class="form-group col-md-2">
		            <label for="street_number">Number</label>
		            <input name="street_number" type="number" class="form-control" placeholder="1" />
	          </div>

	          <div class="form-group col-md-8">
		            <label for="city" >City</label>
		            <input name="city" type="text" class="form-control" placeholder="Enter your city..." />
	          </div>


	          <div class="form-group col-md-4">
		            <label for="postcode">Postcode</label>
		            <input name="postcode" type="text" class="form-control" placeholder="1234AB" />
	          </div>

            <hr class="register-form-hr col-md-12" />

	          <!-- Section Smart Meter Numers -->
	          <div class="form-group col-md-12">
		            <label for="ean_energy" >Energy EAN-Code</label>
		            <input name="ean_energy" type="text" class="form-control" placeholder="Enter your EAN-Code..." />
	          </div>

	          <div class="form-group col-md-12">
		            <label for="ean_gas" >Gas EAN-Code</label>
		            <input name="ean_gas" type="text" class="form-control" placeholder="Enter your EAN-Code..." />
	          </div>

	          <button type="submit" class="btn btn-primary btn-lg">Submit</button>
	      </div>
    </form>
</div>
<!--
     Personal Information
   - Name (optional)
   - Address:
     * Street + number
     * Postcode
     * Town
   - Email
   - EAN-code Energy (18 numbers)
   - EAN-code Gas

     Account
   - Username
   - Password

-->
{% endblock %}
