{% extends "layout.html" %}
{% block title %}About{% endblock %}
{% block header %}
About
{% endblock %}

{% block content_block %}
<p class="text-justify lead">
    This web-based application is based on two crucial assumptions that are quite irrefutable:
    <ol class="lead">
        <li>
            Climate change is real and man-made;
        </li>
        <li>
            We focus on one aspect of the problem – excessive energy use in Westernized societies.
        </li>
    </ol>
</p>
<p class="text-justify lead">
    We will not spend time convincing you of claim#1 by citing climate scientists, or governmental bodies like the EPA (Environmental Protection Agency), or the EEA (European Environmental Agency). If you are here, you probably do not need much convincing. Also, if you are here and you do not believe in climate change, we’d like to kindly refer you to the high quality journalism on climate change conducted by Peter Hadfield on his YouTube channel: potholer54. Pretty much all we can say on the matter, he says at least as eloquently and backs up with various scientific sources. 
</p>
<p class="text-justify lead">
    What we are here to do is bring home the message that the world is changing for the worse and we are going to pay dearly in lives and in economic wealth for it. It is so hard for humans to be concerned for the distant future, if things seem to be going well in the present. It is hard for us to comprehend the big picture when nothing changes from one day to the next. In other words, we can only think in the shorter-term and we can only notice changes if they affect us immediately. Additionally, we are best at solving immediate problems requiring concrete solutions that can be broken down into steps. Solving climate change is not one of those issues. We are ill-suited to approach the problem in its complexity and come up with a stepwise solution.
</p>
<p class="text-justify lead">
    With this app, we try to make a small difference by focusing on one particular aspect of climate change – energy consumption per capita in Western societies. This is a smaller problem that can be addressed in a more stepwise and systematic way. Our proposition here is to use to the smart meter installed in your household, as well as in virtually all households in the Netherlands, as a gauge for the electrical and gas usage of your household and engage you, your family, and your friends in a lighthearted sustainability competition with other households registered on our subscription-based (1) platform. The meter will register your energy use and we will translate that to a positive or negative sustainability score. You score will, in turn, place your home somewhere on the sustainability ranking. Do you think you are eco-friendly? Prove it!
</p>
<p class="text-justify lead">
    You might be wondering what you will gain from this, other than being the envy of all environmentally friendly people (an ever increasing number) by being more sustainable. The good news is there is one other perk. If you are sufficiently sustainable, you will be given the chance to select what we invest the subscription pool money into, supporting initiatives that you think are most worthwhile.
</p>
{% endblock %}

