<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

<!-- Fonts -->
<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">

<!-- Bootstrap CSS -->
<link rel="stylesheet" href="{{url_for('static', filename='css/jquery.circliful.min.css')}}">
<link rel="stylesheet" href="{{url_for('static', filename='css/style.min.css')}}">

<!-- jQuery first, then Popper.js, then Bootstrap JS -->

<script src="{{url_for('static', filename='node_modules/jquery/dist/jquery.min.js' )}}"></script>
<!-- <script src="{{url_for('static', filename='bootstrap/assets/js/vendor/jquery-slim.min.js' )}}"></script> -->
<script src="{{url_for('static', filename='bootstrap/assets/js/vendor/popper.min.js' )}}"></script>
<script src="{{url_for('static', filename='bootstrap/dist/js/bootstrap.min.js' )}}"></script>
<!-- <script src="{{url_for('static', filename='js/jquery.circliful.min.js')}}"></script> -->
<script src="{{url_for('static', filename='node_modules/jquery-circle-progress/dist/circle-progress.min.js')}}"></script>
