{% extends "layout-home.html" %}

{% macro news_box(nr) -%}
{% set even = (nr % 2 == 0) %}
<div class="row">
    {% if even %}
    <div class="col-md-6 align-self-center">
        {% else %}
        <div class="col-md-6 align-self-center order-md-2">
        {% endif %}
        <h1>News Title!</h1>
        <p class="lead">
            Quis enim lobortis scelerisque fermentum dui faucibus in ornare quam viverra orci sagittis eu volutpat odio facilisis mauris sit amet massa vitae tortor. Amet massa vitae tortor condimentum lacinia quis!
        </p>
    </div>
    {% if even %}
    <div class="col-md-6 text-center align-self-center">
        {% else %}
        <div class="col-md-6 text-center align-self-center order-md-1">
            {% endif %}
        <img class="img-fluid mx-auto" src="https://placehold.it/500x500"/>
    </div>
</div>
<hr class="my-3"/>
{%- endmacro %}
{% block title %}Home{% endblock %}

{% block landpage_content %}
<div class="row">
    <div class="col text-center">
        <h1 class="main-text display-1 my-4 font-weight-bold text-primary-light">GoGreen!</h1>
    </div>
</div>

<div class="row">
    <div class="col text-center">
        <!-- <a role="button" href="#main-content" class="btn btn-lg btn-primary">Start Now!</a> -->
        {% if not g.user %}
        <a role="button" href="{{url_for('auth.login')}}" class="btn btn-lg btn-primary">Login</a>
        {% endif %}
    </div>
</div>
{% endblock %}

{% block header %}
Recent Projects
{% endblock %}

{% block content_block %}

{% for i in range(10) %}
{{ news_box(loop.index) }}
{% endfor %}

{% endblock %}
