{% extends "layout.html" %}
{% block title %}Tips{% endblock %}
{% block header %}
Tips On Sustainability
{% endblock %}


{% block content %}

<div class="outline-2">
<h2 id="orgcf29209"> What does it mean by being sustainable?</h2>
<div class="outline-3">
<p id="org44db265"> Being renewable is not enough. Energy needs to be sustainable. Sustainability is determined by three different parameters: environmental sustainability, social sustainability and economic sustainability. Environmental sustainability means that it doesn’t do harm to the environment. Social sustainability means society, or any social system, should persistently achieve a good social well being. Economic sustainability requires that a business or country uses its resources efficiently and responsibly so that it can operate in a sustainable manner to consistently produce an operational profit.</p>
</div>
<div class="outline-3">
<p id="orge8a5372"> Sustainability and Sustainable Development. (n.d.). Retrieved from <a href="http://www.circularecology.com/sustainability-and-sustainable-development.html#.Ww_nsPZuLOY">http://www.circularecology.com/sustainability-and-sustainable-development.html#.Ww_nsPZuLOY</a></p>
</div>
</div>
<div class="outline-2">
<h2 id="org47cdbe4"> How to be an enviroment friendly person?</h2>
<div class="outline-3">
<p id="org24a44de"> Minimize releases of air contaminants to the environment.</p>
</div>
<div class="outline-3">
<p id="org8827d67"> Comply with all applicable environmental laws.</p>
</div>
<div class="outline-3">
<p id="org6a32265"> Use recycled products where feasible.</p>
</div>
<div class="outline-3">
<p id="org51b4c01"> Stop purchasing chemicals that contain carcinogens.</p>
</div>
<div class="outline-3">
<p id="orgd397af5"> Safeguard the environment for future generations.</p>
</div>
<div class="outline-3">
<p id="orgfd4a500"> Be a responsible neighbor.</p>
</div>
</div>
<div class="outline-2">
<h2 id="org7a56ad2"> Some sustainability goals:</h2>
<div class="outline-3">
<p id="orgc5e160c"> Reduce sanitary waste from routine operations by 25 percent by next year, using a 2005 baseline.</p>
</div>
<div class="outline-3">
<p id="org1729a62"> Recycle 45 percent of sanitary wastes from all operations by next year and 50 percent in 5 years.</p>
</div>
<div class="outline-3">
<p id="org397e28b"> Reduce fleet petroleum consumption by 20 percent by next year, using a 2000 baseline.</p>
</div>
<div class="outline-3">
<p > Ensure that 75 percent of new light-duty vehicles purchased each year are alternative-fuel vehicles.</p>
</div>
</div>
<div class="outline-2">
<h2 > What you can do in your daily life to save energy:</h2>
<div class="outline-3">
<p > Turn down your thermostat at night or when you’re away for more than four hours during the day. Do not turn off your heating system entirely as this may cause pipes to freeze.</p>
</div>
<div class="outline-3">
<p > Use Energy Star LED or compact fluorescent light bulbs. Energy Star light bulbs last longer and use up to 80 percent less energy than standard light bulbs.</p>
</div>
<div class="outline-3">
<p > Laser printers use an incredible amount of energy. Switch to ink-jet printers.</p>
</div>
<div class="outline-3">
<p > Don’t over-cool. The ideal thermostat setting is between 75°F and 78°F. Every degree you raise your thermostat can result in a 5% savings on the cost of cooling your home.</p>
</div>
<div class="outline-3">
<p > Set the refrigerator thermostat at 38 degrees F for fresh food compartments and 5 degrees F for the freezer compartment</p>
</div>
<div class="outline-3">
<p > Get rid of spare refrigerators or freezers. An extra appliance can add more than $100 to your energy bills every year, and it’s a safety hazard for small children.</p>
</div>
<div class="outline-3">
<p > Use public transit whenever possible.</p>
</div>
<div class="outline-3">
<p > Turn down your thermostat at night or when you’re away for more than four hours during the day. Do not turn off your heating system entirely as this may cause pipes to freeze.</p>
</div>
<div class="outline-3">
<p > Use Energy Star LED or compact fluorescent light bulbs. Energy Star light bulbs last longer and use up to 80 percent less energy than standard light bulbs.</p>
</div>
<div class="outline-3">
<p > Laser printers use an incredible amount of energy. Switch to ink-jet printers.</p>
</div>
<div class="outline-3">
<p > Don’t over-cool. The ideal thermostat setting is between 75°F and 78°F. Every degree you raise your thermostat can result in a 5% savings on the cost of cooling your home.</p>
</div>
<div class="outline-3">
<p > Set the refrigerator thermostat at 38 degrees F for fresh food compartments and 5 degrees F for the freezer compartment</p>
</div>
<div class="outline-3">
<p > Get rid of spare refrigerators or freezers. An extra appliance can add more than $100 to your energy bills every year, and it’s a safety hazard for small children.</p>
</div>
<div class="outline-3">
<p > Seal air leaks. Sealing air leaks can result in up to 30% energy savings, according to energy.gov.</p>
</div>
<div class="outline-3">
<p > Turn off your water heater if you plan on leaving home for a few days. Most models will reheat the water to the set temperature in about an hour.</p>
</div>
<div class="outline-3">
<p > Unplug battery chargers when the batteries are fully charged or the chargers are not in use. Many chargers draw power continuously, even when the device is not plugged into the charger.</p>
</div>
<div class="outline-3">
<p > Switch off or unplug any chargers or appliances you don’t need on.</p>
</div>
<div class="outline-3">
<p > Loft insulation can save up to £140[1] a year off your energy bills and cavity wall insulation can save up to £160[1] a year.</p>
</div>
</div>

{% endblock %}
