{% extends "layout.html" %}
{% block title %}Tips{% endblock %}
{% block header %}
Tips
{% endblock %}


{% block content %}
<div id="outline-container-org339a613" class="outline-2">
<h2 id="org339a613"><span class="section-number-2">1</span> Here are some examples of environmental objectives:</h2>
<div class="outline-text-2" id="text-1">
</div>
<div id="outline-container-orgc6364f2" class="outline-3">
<p id="orgc6364f2"><span class="section-number-3">1.1</span> Minimize raw material use.</p>
</div>
<div id="outline-container-org776c158" class="outline-3">
<p id="org776c158"><span class="section-number-3">1.2</span> Minimize releases of air contaminants to the environment.</p>
</div>
<div id="outline-container-org9668b88" class="outline-3">
<p id="org9668b88"><span class="section-number-3">1.3</span> Comply with all applicable environmental laws.</p>
</div>
<div id="outline-container-org47973f0" class="outline-3">
<p id="org47973f0"><span class="section-number-3">1.4</span> Use recycled products where feasible.</p>
</div>
<div id="outline-container-org15c79fe" class="outline-3">
<p id="org15c79fe"><span class="section-number-3">1.5</span> Stop purchasing chemicals that contain carcinogens.</p>
</div>
<div id="outline-container-org5b850f6" class="outline-3">
<p id="org5b850f6"><span class="section-number-3">1.6</span> Safeguard the environment for future generations.</p>
</div>
<div id="outline-container-orgaa0ca89" class="outline-3">
<p id="orgaa0ca89"><span class="section-number-3">1.7</span> Be a responsible neighbor.</p>
</div>
<div id="outline-container-org37bf15d" class="outline-3">
<p id="org37bf15d"><span class="section-number-3">1.8</span> Foster openness with employees and the public.</p>
</div>
</div>

<div id="outline-container-orga90d931" class="outline-2">
<h2 id="orga90d931"><span class="section-number-2">2</span> Examples of environmental targets:</h2>
<div class="outline-text-2" id="text-2">
</div>
<div id="outline-container-org2d99aff" class="outline-3">
<p id="org2d99aff"><span class="section-number-3">2.1</span> Reduce sanitary waste from routine operations by 25 percent by 2014, using a 2005 baseline.</p>
</div>
<div id="outline-container-org79c5e96" class="outline-3">
<p id="org79c5e96"><span class="section-number-3">2.2</span> Recycle 45 percent of sanitary wastes from all operations by 2014 and 50 percent by 2020.</p>
</div>
<div id="outline-container-org24dd8a7" class="outline-3">
<p id="org24dd8a7"><span class="section-number-3">2.3</span> Reduce fleet petroleum consumption by 20 percent by 2014, using a 2000 baseline.</p>
</div>
<div id="outline-container-org726171a" class="outline-3">
<p id="org726171a"><span class="section-number-3">2.4</span> Ensure that 75 percent of new light-duty vehicles purchased each year are alternative-fuel vehicles.</p>
<div class="outline-text-3" id="text-2-4">

</div>
</div>
</div>

<div id="outline-container-org27e3427" class="outline-2">
<h2 id="org27e3427"><span class="section-number-2">3</span> How to be sustainable?</h2>
<div class="outline-text-2" id="text-3">
</div>
<div id="outline-container-org16a0e7a" class="outline-3">
<p id="org16a0e7a"><span class="section-number-3">3.1</span> Being renewable is not enough. Energy needs to be sustainable. Sustainability is determined by three different parameters: environmental sustainability, social sustainability and economic sustainability. Environmental sustainability means that it doesn’t do harm to the environment. Social sustainability means society, or any social system, should persistently achieve a good social well being. Economic sustainability requires that a business or country uses its resources efficiently and responsibly so that it can operate in a sustainable manner to consistently produce an operational profit.</p>
</div>
<div id="outline-container-org8a2777e" class="outline-3">
<p id="org8a2777e"><span class="section-number-3">3.2</span> Sustainability and Sustainable Development. (n.d.). Retrieved from <a href="http://www.circularecology.com/sustainability-and-sustainable-development.html#.Ww_nsPZuLOY">http://www.circularecology.com/sustainability-and-sustainable-development.html#.Ww_nsPZuLOY</a></p>
</div>
<div id="outline-container-orgf493515" class="outline-3">
<p id="orgf493515"><span class="section-number-3">3.3</span> Turn down your thermostat at night or when you’re away for more than four hours during the day. Do not turn off your heating system entirely as this may cause pipes to freeze.</p>
</div>
<div id="outline-container-org1271c60" class="outline-3">
<p id="org1271c60"><span class="section-number-3">3.4</span> Use Energy Star LED or compact fluorescent light bulbs. Energy Star light bulbs last longer and use up to 80 percent less energy than standard light bulbs.</p>
</div>
<div id="outline-container-orge306d31" class="outline-3">
<p id="orge306d31"><span class="section-number-3">3.5</span> Laser printers use an incredible amount of energy. Switch to ink-jet printers.</p>
</div>
<div id="outline-container-org853ab65" class="outline-3">
<p id="org853ab65"><span class="section-number-3">3.6</span> Don’t over-cool. The ideal thermostat setting is between 75°F and 78°F. Every degree you raise your thermostat can result in a 5% savings on the cost of cooling your home.</p>
</div>
<div id="outline-container-org2075f3f" class="outline-3">
<p id="org2075f3f"><span class="section-number-3">3.7</span> Set the refrigerator thermostat at 38 degrees F for fresh food compartments and 5 degrees F for the freezer compartment</p>
</div>
<div id="outline-container-org0cae20b" class="outline-3">
<p id="org0cae20b"><span class="section-number-3">3.8</span> Get rid of spare refrigerators or freezers. An extra appliance can add more than $100 to your energy bills every year, and it’s a safety hazard for small children.</p>
</div>
<div id="outline-container-org25626a4" class="outline-3">
<p id="org25626a4"><span class="section-number-3">3.9</span> Use public transit whenever possible.</p>
</div>
<div id="outline-container-org0eaae27" class="outline-3">
<p id="org0eaae27"><span class="section-number-3">3.10</span> Turn down your thermostat at night or when you’re away for more than four hours during the day. Do not turn off your heating system entirely as this may cause pipes to freeze.</p>
</div>
<div id="outline-container-orga452ed6" class="outline-3">
<p id="orga452ed6"><span class="section-number-3">3.11</span> Use Energy Star LED or compact fluorescent light bulbs. Energy Star light bulbs last longer and use up to 80 percent less energy than standard light bulbs.</p>
</div>
<div id="outline-container-orgde35e41" class="outline-3">
<p id="orgde35e41"><span class="section-number-3">3.12</span> Laser printers use an incredible amount of energy. Switch to ink-jet printers.</p>
</div>
<div id="outline-container-org19e1823" class="outline-3">
<p id="org19e1823"><span class="section-number-3">3.13</span> Don’t over-cool. The ideal thermostat setting is between 75°F and 78°F. Every degree you raise your thermostat can result in a 5% savings on the cost of cooling your home.</p>
</div>
<div id="outline-container-org402a4f9" class="outline-3">
<p id="org402a4f9"><span class="section-number-3">3.14</span> Set the refrigerator thermostat at 38 degrees F for fresh food compartments and 5 degrees F for the freezer compartment</p>
</div>
<div id="outline-container-org67e1868" class="outline-3">
<p id="org67e1868"><span class="section-number-3">3.15</span> Get rid of spare refrigerators or freezers. An extra appliance can add more than $100 to your energy bills every year, and it’s a safety hazard for small children.</p>
</div>
<div id="outline-container-org98ca99a" class="outline-3">
<p id="org98ca99a"><span class="section-number-3">3.16</span> Seal air leaks. Sealing air leaks can result in up to 30% energy savings, according to energy.gov.</p>
</div>
<div id="outline-container-org748a96d" class="outline-3">
<p id="org748a96d"><span class="section-number-3">3.17</span> Turn off your water heater if you plan on leaving home for a few days. Most models will reheat the water to the set temperature in about an hour.</p>
</div>
<div id="outline-container-org5d58c08" class="outline-3">
<p id="org5d58c08"><span class="section-number-3">3.18</span> Unplug battery chargers when the batteries are fully charged or the chargers are not in use. Many chargers draw power continuously, even when the device is not plugged into the charger.</p>
</div>
<div id="outline-container-org332de03" class="outline-3">
<p id="org332de03"><span class="section-number-3">3.19</span> Switch off or unplug any chargers or appliances you don’t need on.</p>
</div>
<div id="outline-container-org0876991" class="outline-3">
<p id="org0876991"><span class="section-number-3">3.20</span> Loft insulation can save up to £140[1] a year off your energy bills and cavity wall insulation can save up to £160[1] a year.</p>
</div>
</div>
{% endblock %}
