$theme-colors: (
    "primary": #00CC00,
    "primary-light": #CEF9CE,
    "primary-dark": #013401,
    "secondary": #009999,
    "secondary-light": #E2FBFB,
    "secondary-dark": #012727
);

$enable-shadows: true;


@import "node_modules/bootstrap/scss/bootstrap";

#circle canvas {
    height: 500px;
    width: 500px;
}

@include media-breakpoint-down(md) {
    .main-text.display-1 {
        font-size: 5rem;
    }
    .main-text > .display-2 {
        font-size: 4.5rem;
    }
    .main-text > .display-4 {
        font-size: 3.0rem;
    }

    #circle canvas {
        height: 400px;
        width: 400px;
    }

}

@include media-breakpoint-down(sm) {
    .main-text.display-1 {
        font-size: 4rem;
    }
    .main-text > .display-2 {
        font-size: 3.5rem;
    }
    .main-text > .display-4 {
        font-size: 2.5rem;
    }
    #circle canvas {
        height: 300px;
        width: 300px;
    }
}

@include media-breakpoint-down(xs) {
    .main-text.display-1 {
        font-size: 3rem;
    }
    .main-text > .display-2 {
        font-size: 2.5rem;
    }
    .main-text > .display-4 {
        font-size: 2.0rem;
    }
    #circle canvas {
        height: 200px;
        width: 200px;
    }
}

.landpage {
    background-image: url("../images/background-forest-new.jpg");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.navbar.scrolling-navbar {
    transition: background .5s ease-in-out,padding .5s ease-in-out, opacity .5s ease-in-out;
    padding-top: 12px;
    padding-bottom: 12px;
    opacity: 0.01;
}

.navbar.scrolling-navbar.top-nav-normal {
    padding-top: 5px;
    padding-bottom: 5px;
    opacity: 1;
}
